src/Library
src/Temp
src/Assembly-CSharp-Editor-vs.csproj
src/Assembly-CSharp-Editor.csproj
src/Assembly-CSharp-vs.csproj
src/Assembly-CSharp.csproj
src/Assembly-UnityScript-Editor-vs.unityproj
src/Assembly-UnityScript-Editor.unityproj
src/src-csharp.sln
src/src.sln
